/* <!-- -------------about------------- --> */
#about 
{
    color: black;
}

.row
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(30px, 5vw, 40px);
}

.about-col-1
{
    flex-basis: 35%;
}

.about-col-1 img
{
    width: 100%;
    min-width: 300px;
    border-radius: 10px;
}

@media (max-width: 800px)
{
  .about-col-1 img
    {
    min-width: 80vw;
    }
}

.about-col-2
{
    flex-basis: 60%;
}

@media (max-width: 800px)
{
  .about-col-2
    {
    min-width: 80vw;
    }
}

.tab-titles
{
    display: flex;
    margin: 20px 0 10px;
}

.tab-links
{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 650;
    cursor: pointer;
    position: relative;
}

.tab-links::after
{
    content: "";
    width: 0;
    height: 3px;
    background: #dc3545;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after
{
    width: 100%;
}

.tab-links.active-link::after
{
    width: 100%;
}
.tab-contents ul
{
    padding: 0;
}

.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span
{
    margin-top: 10px;
    color: #dc3545; 
    font-size: 20px;
    font-weight: 550;
}

.tab-contents
{
    animation: fade-out 0.2s ease forwards;
}

.tab-contents.active-tab
{
    display: block;
}

.show
{
    animation: fade-in 0.4s ease forwards;
}

@keyframes fade-in
{
    0%
    {
        display: none;
    }

    50%
    {
        display: none;
        opacity: 0;
        transform: translateX(-10px);
    }

    100%
    {
        opacity: 1;
        display: block;
        transform: translateX(0);
    }    
}

@keyframes fade-out
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
        display: none;
    }    
}