{% extends 'base.html' %}
{% block content %}
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <div id="about">
        <div class="container">
            <div class="row mt-3">
                <div class="about-col-1">
                    <img id="about-image" src="{{ url_for('static', filename='images/my_image.png') }}">
                </div>

                <div class="about-col-2">
                    <h1>About me</h1>
                    <p>My name is Piotr Henzolt, I aspire to become a web developer with a focus on creating innovative and user-friendly web applications. My goal is to master various web technologies, stay updated on industry trends, and contribute to projects that make a positive impact. I've enjoyed building things since i was little and coding/designing is just like building - that's why I like it!</p>
                    
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab(event, 'University')">University</p>
                        <p class="tab-links" onclick="opentab(event, 'Achievements')">Achievements</p>
                        <p class="tab-links" onclick="opentab(event, 'Hobbies')">Hobbies</p>
                    </div>

                    <div class="tab-contents active-tab show" id="University">
                        <ul>
                            <li><span>University</span><br>Cracow University of Economics</li>
                            <li><span>Field of study</span><br>Applied Informatics</li>
                            <li><span>Why this field</span><br>I've always been passionate about technology and programming. Studying IT allows me to explore my interests in depth. I've always been good with computers and everyone came to me if they had a tech-related problem. For me out of all the fields Applied Informatics was the obvious choice.</li>
                            <li><span>Expectations</span><br>I hope to gain a solid understanding of web developement, programming principles, develop practical skills, and contribute to innovative projects. I also hope to level up my teamwork as well as communication. I expect to get a well-paid job that I will enjoy after completing this course.</li>
                        </ul>
                    </div>

                    <div class="tab-contents" id="Achievements">
                        <ul class="styled-list">
                            <li><span>School</span></li>
                            <li>● Received the Rector's Scholarship at the Cracow University of Economics.</li>
                            <li>● Served as the main administrator of my former school's website.</li>
                            <li>● Provided IT support to school staff, including hardware setup, software troubleshooting, and maintenance of tech equipment.</li>
                            <li>● Completed C/C++ courses at the Jagiellonian University with a final grade of 5 (equivalent to A).</li>
                            <li>● Managed a school shop at the age of 15.</li>
                            <li><span>Free Time</span></li>
                            <li>● Founded and managed a gaming group of over 150 players.</li>
                            <li>● Created and edited 30+ YouTube videos as well as designing thumbnails for each of them.</li>
                            <li>● Built a fully customized gaming setup from scratch.</li>
                            <li>● Passed the driving test on the first attempt.</li>
                        </ul>
                    </div>

                    <div class="tab-contents" id="Hobbies">
                        <ul>
                            <li><span>Designing/Coding</span><br>I always liked building, and designing/coding is just like building! You can create whatever you can imagine.</li>
                            <li><span>Cooking</span><br>I recently started cooking for myself and I found out that I actually enjoy it. Being able to add whatever you want to your dish and make it as you like is great. Seeing the result and enjoying the taste is very fulfilling.</li>
                            <li><span>Gaming</span><br>Strategy, MMORPG, Battle Royale, Survival games are types of games I like to play with my friends. They are a great decelerator and can bring you a lot of joy.</li>
                            <li><span>Motorcycles</span><br>My dad rode motorcycles since he was a teenager and that's how this passion was passed on to me. Now I have my own motorcycle and I ride it from time to time.</li>
                            <li><span>Cars</span><br>My interest in cars started only recently, but it's been growing quickly. I have been exploring different car models, learning how engines work, and watching videos about car builds and reviews. I am currently looking for one for myself.</li>
                            <li><span>Badminton</span><br>My godmother was the Polish badminton champion and we alwas played when I was little, and that's how the passion was born. Right now I'm playing it once a week during my PE classes.</li>
                            <li><span>Books</span><br>Fantasy and science-fiction books are my go-to's, one of my favorite authors is Andrzej Pilipuk. I often reach for the books I read before and I always enjoy reading them again.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}